pool:
  name: Azure Pipelines
  demands: npm

steps:
  - task: Npm@1
    displayName: 'npm install'
    inputs:
      verbose: false

  - task: ArchiveFiles@2
    displayName: 'Archive Files'

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifact: drop'

  - task: Docker@2
    displayName: 'docker build&push'
    inputs:
      containerRegistry: 'dockerhub-fisher'
      repository: 'melissafv/venta-service'
      Dockerfile: dockerfile
